// MAIN SASS FILE

//IMPORTS
@import 'helpers/reset';

//VARIABLES

//PLACEHOLDERS


//IDS

body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  background-color: #000;
}

h1 {
  // text-decoration: underline;
  letter-spacing: 3px;
  margin-top: 25px;
  font-size: 50px;
  color: #fff;
}

#rangeContainer {
  position: static;
  display: inline-block;
  padding: 15px 0px;
  width: 325px;
  height: auto;
  background-color: #F1DDC1;
  border: 6px solid #B61E36;
}

h2 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #B61E36;
}

h3 {
  position: relative;
  top: 10px;
  margin-bottom: 10px;
  color: #B61E36;
}

#rangeContainer input[type=number] {
  margin: 10px 5px;
  width: 50px;
  color: #fff;
  background-color: #000;
}

#rangeContainer input[type=submit] {
  display: block;
  width: 135px;
  height: 40px;
  margin: 10px auto;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 25px;
  color: #fff;
  background-color: #000;
}

#add {
  display: block;
  width: 135px;
  height: 40px;
  margin: 10px auto;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 25px;
  color: #fff;
  background-color: #000;
}

#lightContainer {
  position: relative;
  top: 10px;
  display: block;
  width: 680px;
  height: 75px;
  background-color: #F1DDC1;
  border: 6px solid #B61E36;
}

.light {
  display: inline-block;
  margin: 10px 5px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #000;
}

.lightOn {
  display: inline-block;
  margin: 10px 5px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #fff;
}
